/* line 1, ../sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.sass */
body {
  font-family: sans-serif;
  background: #34495e;
}

/* line 9, ../sass/_base.sass */
ul {
  list-style: none;
}

/* line 11, ../sass/_base.sass */
a {
  text-decoration: none;
  color: #333;
}

/* line 15, ../sass/_base.sass */
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 2, ../sass/_all.sass */
.slider {
  max-width: 700px;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 20px auto 0;
}
/* line 9, ../sass/_all.sass */
.slider__items {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 15, ../sass/_all.sass */
.slider__items.active {
  opacity: 1;
}
/* line 18, ../sass/_all.sass */
.slider__items img {
  width: 100%;
  height: 400px;
}
/* line 23, ../sass/_all.sass */
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 5;
  color: rgba(236, 240, 241, 0.7);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 35px;
}
/* line 32, ../sass/_all.sass */
.slider__btn:hover {
  color: rgba(236, 240, 241, 0.9);
}
/* line 35, ../sass/_all.sass */
.slider__btn-prev {
  left: 15px;
}
/* line 38, ../sass/_all.sass */
.slider__btn-next {
  right: 15px;
}
/* line 41, ../sass/_all.sass */
.slider__page-block {
  position: absolute;
  max-width: 50%;
  width: 100%;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}
/* line 51, ../sass/_all.sass */
.slider__page-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 55, ../sass/_all.sass */
.slider__page-li {
  max-width: 20%;
  width: 100%;
  height: 4px;
  background: rgba(236, 240, 241, 0.7);
  cursor: pointer;
  -webkit-transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: background 0.2s linear, transform 0.2s linear;
  transition: background 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
/* line 64, ../sass/_all.sass */
.slider__page-li:hover {
  background: #ecf0f1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 67, ../sass/_all.sass */
.slider__page-li.active {
  background: #ecf0f1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* line 71, ../sass/_all.sass */
.timer {
  position: absolute;
  left: 30px;
  top: 20px;
  padding: 10px;
  background: #ffffff;
  color: #333;
  opacity: 0.8;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
/* line 82, ../sass/_all.sass */
.timer:hover {
  opacity: 0.9;
}
